@font-face {
  font-family: poppins;
  src: url(./../static/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: maven;
  src: url(./../static/fonts/MavenPro-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins;
}
/* common codes  start*/
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
/* common codes end  */
:root {
  --white: #fff;
  --bg: #ffffff3b;
  --color1: #00425a;
  --color2: #7286d3;
  --color3: #5bc0f8;
  --color4: #13005a;
  --color5: #ff7b54;
  --gray: #2d2d22;
  --btn-color: #7286d3;
  --card-bg: #ffffff13;
  /* shadow  */
  --box-shado: 10px 10px 30px rgba(0, 0, 0, 0.08),
    -10px -10px 30px rgba(0, 0, 0, 0.08);
  /* transition  */
  --transition: 0.3s;
}
.bg > div {
  filter: blur(180px);
  position: fixed;
  width: 1000px;
  height: 1000px;
}
.bg-1 {
  background-color: var(--color1);
  bottom: 0;
  right: 0;
}
.bg-2 {
  background-color: var(--color2);
  top: 0;
  right: 0;
}
.bg-3 {
  background-color: var(--color3);
  bottom: 0;
  left: 0;
}
.bg-4 {
  background-color: var(--color4);
  top: 0;
  left: 0;
}
.bg-5 {
  background-color: var(--color5);
  top: 20%;
}
.sidebar {
  width: 240px;
  background: var(--bg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  border: 2px solid var(--white);
  box-shadow: var(--box-shado);
  backdrop-filter: blur(10px);
  overflow: hidden;
  transition: var(--transition);
}
.sidebar .logo {
  display: flex;
  gap: 15px;
  margin-left: 10px;
  margin-top: 10px;
}
.sidebar .logo-icon {
  width: 35px;
}
.sidebar .navlinks {
  margin-top: 30px;
}
.sidebar .navlinks li {
  line-height: 40px;
  padding: 10px;
  border: 2px solid transparent;
}
.sidebar .navlinks li:hover {
  box-shadow: var(--box-shado);
}
.sidebar .navlinks li a i {
  font-size: 25px;
}
.sidebar .show-search-pop-up {
  display: none;
}
.sidebar.close {
  width: 55px;
}
.sidebar.close .show-search-pop-up {
  display: block;
  font-size: 25px;
  color: var(--white);
}
.sidebar .navlinks li:hover a {
  color: var(--white);
}

.sidebar .navlinks li:hover:after {
  content: "";
  width: 50px;
  height: 50px;
  box-shadow: 35px 35px 10px white;
}
.sidebar .navlinks li a {
  display: flex;
  gap: 15px;
}
.sidebar .navlinks li a img {
  width: 25px;
}
.sidebar .navlinks li a span {
  white-space: nowrap;
}
.main {
  width: calc(100% - 240px);
  position: absolute;
  left: 240px;
  top: 0;
  transition: var(--transition);
}
.main.full {
  left: 55px;
  width: calc(100% - 55px);
}

.top-bar {
  width: calc(100% - 240px);
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  box-shadow: var(--box-shado);
  z-index: 20;
  border: 2px solid var(--white);
  background: var(--bg);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}
.main.full .top-bar {
  left: 55px;
  width: calc(100% - 55px);
}
.top-bar .manu-icon {
  padding: 10px;
  cursor: pointer;
}
.top-bar .manu-icon img {
  width: 25px;
}
.main-content {
  margin-top: 60px;
}
.toolbody {
  padding-top: 60px;
  width: 100%;
  margin: auto;
  min-height: 90vh;
  background: var(--bg);
  backdrop-filter: blur(30px);
  border: 2px solid var(--white);
  color: white;
}
.search {
  margin-top: 60px;
  width: 100%;
  position: relative;
}
.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 40px;
  position: relative;
}
.search-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid var(--white);
  outline: none;
  padding: 10px 45px;
  border-radius: 30px;
  color: var(--white);
}
.search-box input::placeholder {
  color: var(--white);
}
.search-box i {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.search-pop-up {
  background: var(--card-bg);
  position: absolute;
  padding: 100px 20px;
  width: 95%;
  left: 50%;
  top: 20%;
  z-index: 77777;
  display: none;
  backdrop-filter: blur(10px);
  transform: translateX(100000px);
  transition: tranform 0.2s;
  border: 2px solid var(--white);
}
.search-pop-up.show {
  display: block;
  transform: translateX(0) translateX(-50%);
}

.search-pop-up > i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: var(--white);
}
.pop-up-search-box {
  width: 60%;
  height: 40px;
  position: relative;
  margin: auto;
}
.pop-up-search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 20px;
}
.pop-up-search-box i {
  position: absolute;
  left: 10px;
  top: 12px;
}
.sidebar.close .search {
  display: none;
}

@media (max-width: 576px) {
  .sidebar {
    width: 55px;
  }
  .sidebar .search {
    display: none;
  }
  .sidebar.close {
    width: 0;
  }
  .top-bar {
    width: 100%;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .pop-up-search-box {
    width: 100%;
    height: 40px;
    position: relative;
    margin: auto;
  }
  .search-box {
    width: 92%;
  }
  .main {
    left: 55px;
    width: calc(100% - 55px);
  }
  .main.full {
    left: 0;
    width: 100%;
  }
  .main .top-bar {
    left: 55px;
    width: calc(100% - 55px);
  }
  .main.full .top-bar {
    left: 0;
    width: 100%;
  }
}
